* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-color: grey;
}
.header {
    display: flex;

    width: 100%;
}
.header-link {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(15, 6, 6);
    border-left: 5px solid rgba(255, 0, 0, 0.274);
    border-right: 5px solid rgba(255, 0, 0, 0.24);
    align-items: center;
}
.header-link a {
    color: white;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 20px;
    width: 80%;
}

p {
    padding: 20px;
    background-color: gray;
}

.logo-grid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 20%;
    row-gap: 50%;
    display: grid;
    grid-template-rows: 20% 20%;
    grid-template-columns: 20% 20%;
    
    
}
.logo-grid img {
    width: 100%;
    height: auto;
    
}
@media screen and (min-width: 600px) {
    .title {
        font-size: 28px;
        padding: 30px;
    }

    p {
        padding: 30px;
        font-size: 20px;
    }
    
}
@media screen and (min-width: 800px) {
    .title {
        font-size: 32px;
    }

    p {
        font-size: 22px;
        padding-top: 40px;
    }
    .logo-grid {
        max-width: 800px;
        margin: auto;
        margin-top: 10%;
    }
}

@media screen and (min-width: 1200px) {
    html {
        background-color: rgb(192, 188, 188);
    }
    body {
        max-width: 1200px;
        margin: auto;
    }

    .title {
        padding-left: 50px;
    }

    p {
        padding-left: 50px;
    }
    
}
