* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: grey;
}

li {
    list-style-type: none;
    display: inline-block;
} 
header {
    padding: 20px;
    background-color: black;
    color: rgb(201, 199, 199);
    
    
   
} 
.nav {
    display: flex;
    flex-direction: column;
    
}
.name {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.category {
    padding: 20px;
    
    background-color: black;
    padding-bottom: 20px;
} 
.category select {
    margin-bottom: 10px;
}
.skills a{
    color: white;
    padding: 20px;
    
}


p {
    background-color: grey;
    padding: 10px;
    
    
}

.sub-title {
    background-color: rgb(54, 53, 53);
    color: rgb(192, 192, 192);
    text-align: center;
    padding: 10px;
}    

.foot a {
    display: flex;
    justify-content: center;
    padding-top: 20px;
} 

@media screen and (min-width: 600px) { 
    .sub-title {
       font-size: 22px;
    }
    p {
        font-size: 18px;
    }
    .category select {
        font-size: 16px;
    }
    .skills li > a{
        font-size: 18px;
    }
}
@media screen and (min-width: 800px) { 
    .sub-title {
       font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .category select {
        font-size: 16px;
    }
    .skills li > a{
        font-size: 18px;
    }
    .name {
        font-size: 25px;
    }
}
@media screen and (min-width: 1000px) { 
    .sub-title {
       font-size: 25px;
    }
    p {
        font-size: 20px;
        
        
    }
    .category select {
        font-size: 18px;
    }
    .skills li > a{
        font-size: 20px;
    }
    .name {
        font-size: 27px;
    }
}
@media screen and (min-width: 1200px) { 
    html {
        background-color: rgb(192, 188, 188);
    }
    body {
        max-width: 1200px;
        margin: auto;
    }
    .sub-title {
       font-size: 25px;
    }
    p {
        font-size: 20px;
        
        
    }
    .category select {
        font-size: 18px;
    }
    .skills li > a{
        font-size: 20px;
    }
    .name {
        font-size: 27px;
    }
}