* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

li {
    list-style-type: none;
    display: inline-block;
}
header {
    padding: 10px;
    background-color: black;
    color: white;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 139, 0.315);
}

.name {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.category select {
    margin-right: 10px;
}
#nantes {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: auto;
}
.skills a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.img-clavier {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: auto;
}
.article1,
.article2 {
    background-color: rgb(56, 57, 82);
    overflow: hidden;
}

p {
    color: black;
    padding: 15px;
}

.sub-title {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.foot a {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

@media screen and (min-width: 600px) {
    .sub-title {
        font-size: 22px;
        overflow: hidden;
    }
    p {
        font-size: 18px;
    }
    .category select {
        font-size: 16px;
    }
    .skills li > a {
        font-size: 18px;
    }
    .intro {
        display: flex;
    }

    .img-clavier {
        width: 50%;
    }
    #nantes {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .intro2 {
        display: flex;
        margin-top: 5px;
    }
    .article2,
    .article1 {
        margin-left: 5px;

        border-radius: 10px;
        border-radius: 10px;
    }
    .ville {
        width: 100%;

        border-radius: 10px;
        overflow: hidden;
    }

    header {
        margin-bottom: 5px;
    }
    .img-clavier {
        border-radius: 10px;
    }
    .sub-title {
    }
}
@media screen and (min-width: 800px) {
    .sub-title {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .category select {
        font-size: 16px;
    }
    .skills li > a {
        font-size: 18px;
    }
    .name {
        font-size: 25px;
    }
}
@media screen and (min-width: 1000px) {
    .sub-title {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .category select {
        font-size: 18px;
    }
    .skills li > a {
        font-size: 20px;
    }
    .name {
        font-size: 27px;
    }
}
@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
    .sub-title {
        font-size: 25px;
    }
    p {
        font-size: 20px;
        padding: 40px;
    }
    .category select {
        font-size: 18px;
    }
    .skills li > a {
        font-size: 20px;
    }
    .name {
        font-size: 27px;
    }
}
