* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body {
    height: 100%;
    background-color: grey;
}

.title {
    background-color: black;
    padding: 20px;
    color: white;
}
h3 {
    background-color: rgb(90, 87, 87);
    color: black;
    padding: 20px;
}
section {
    height: 60%;
}
ul li {
    list-style-type: none;
}
p {
    padding: 20px;
    background-color: gray;
}
a {
    padding: 10px;
} 
.foot {
    display: flex;
    justify-content: end;
    padding-right: 40px;
}
@media screen and (min-width: 600px) {
    .title {
        font-size: 28px;
        padding: 30px;
    }
    .sub-title {
        font-size: 24px;
        padding: 30px;
    }   
    p {
        padding: 30px;
        font-size: 20px;
    }
    a {
        font-size: 20px;
        padding: 30px;
    }
}
@media screen and (min-width: 800px) {
    
    
    p {
        margin-right: 40px;
        padding-top: 40px;
        
    }
    
}


@media screen and (min-width: 1200px) {
    html {
        background-color: rgb(192, 188, 188);
    }
    body {
        max-width: 1200px;
        margin: auto;
    }
    .title {
        padding-left: 50px;
    }
    .sub-title {
        padding-left: 50px;
    }   
    p {
        padding-left: 50px; 
    }
    a {
        padding-left: 50px;     
    }
    
}