* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body {
    height: 100%;
    background-color: grey;
}

.title {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
}


ul li {
    padding: 20px;
    margin-left: 60px;
    
}


a {
    padding: 40px;
    font-size: 20px;
} 
@media screen and (min-width: 600px) {
    .title {
        font-size: 28px;
        padding: 30px;
        text-align: center;
    }
    ul li {
        font-size: 20px;
        
    }
    
    a {
        font-size: 20px;
        padding: 30px;
    }
}
@media screen and (min-width: 800px) {
    
    
    
    ul  {
        
        padding-top: 20px;
        margin-left: 40px;
        
    }
    ul li {
        padding: 20px;
        font-size: 20px;
    }
}


@media screen and (min-width: 1200px) {
    html {
        background-color: rgb(192, 188, 188);
    }
    body {
        max-width: 1200px;
        margin: auto;
    }
    
    ul li {
        padding-left: 25px;
    }
    p {
        padding-left: 40px;
    }
    a {
        padding-left: 40px;
    }
}